<div class="large-12 columns">
  <label for="vet_1_clinic_name" class="required">Please list <strong>each</strong> vet clinic name and associated phone number.</label>
</div>

{{#times num}}
  <div class="large-12 columns num-of-vets-block-fieldset">
    <fieldset>
      <div class="large-8 columns">
        <div class="row collapse">
          <div class="small-4 columns">
            <label for="vet_{{this}}_clinic_name" class="prefix required">Clinic Name</label>
          </div>
          <div class="small-8 columns">
            <input id="vet_{{this}}_clinic_name" name="vet_{{this}}_clinic_name" type="text" required>
            <small class="error">Required</small>
          </div>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="row collapse">
          <div class="small-4 columns">
            <label for="vet_{{this}}_phone" class="prefix required">Phone</label>
          </div>
          <div class="small-8 columns">
            <input id="vet_{{this}}_phone" name="vet_{{this}}_phone" type="tel" required>
            <small class="error">Number Required</small>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
{{/times}}
