<div class="large-12 columns">
  <label for="cats_dogs_name_1" class="required">Please fill out <strong>all</strong> the required information for <strong>each</strong> cat and dog. If you have more than 6, simply fill in the additional information in the form field below.</label>
</div>

{{#times num}}
  <div class="large-12 columns num-of-cats-and-dogs-block-fieldset">
    <fieldset>
      {{! Fieldset Row 1 }}
      <div class="row">
        <div class="large-5 columns">
          <div class="row collapse">
            <div class="small-4 columns">
              <label for="cats_dogs_name_{{this}}" class="prefix required">Name</label>
            </div>
            <div class="small-8 columns">
              <input id="cats_dogs_name_{{this}}" name="cats_dogs_name_{{this}}" type="text" required>
              <small class="error">Required</small>
            </div>
          </div>
        </div>

        <div class="large-3 columns">
          <div class="row collapse">
            <div class="small-4 columns">
              <label for="cats_dogs_type_{{this}}" class="prefix required">Type</label>
            </div>
            <div class="small-8 columns">
              <select id="cats_dogs_type_{{this}}" name="cats_dogs_type_{{this}}" required>
                <option value selected> Please Select </option>
                <option value="dog"> Dog </option>
                <option value="cat"> Cat </option>
              </select>
              <small class="error">Required</small>
            </div>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="row collapse">
            <div class="small-4 columns">
              <label for="cats_dogs_breed_{{this}}" class="prefix required">Breed</label>
            </div>
            <div class="small-8 columns">
              <input id="cats_dogs_breed_{{this}}" name="cats_dogs_breed_{{this}}" type="text" required>
              <small class="error">Required</small>
            </div>
          </div>
        </div>
      </div>

      {{! Fieldset Row 2 }}
      <div class="row">
        <div class="large-6 columns">
          <div class="row collapse">
            <div class="small-4 medium-4 columns">
              <label for="cats_dogs_age_{{this}}" class="prefix required">Age</label>
            </div>
            <div class="small-5 medium-5 columns">
              <input id="cats_dogs_age_{{this}}" name="cats_dogs_age_{{this}}" type="number" required>
              <small class="error">Required</small>
            </div>
            <div class="small-3 columns">
              <span class="postfix">years</span>
            </div>
          </div>
        </div>

        <div class="large-6 columns">
          <div class="row collapse">
            <div class="small-4 columns">
              <label for="cats_dogs_sex_{{this}}" class="prefix required">Sex</label>
            </div>
            <div class="small-8 columns text-center">
              <select id="cats_dogs_sex_{{this}}" name="cats_dogs_sex_{{this}}" required>
                <option value selected> Please Select </option>
                <option value="male-neutered"> Male / Neutered</option>
                <option value="male-not-neutered"> Male / Not Neutered</option>
                <option value="female-spayed"> Female / Spayed</option>
                <option value="female-not-spayed"> Female / Not Spayed</option>
              </select>
              <small class="error">Required</small>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
{{/times}}
