---
import 'src/styles/global.css';

import MainTopNav from '@components/MainTopNav.astro';
import MainFooter from '@components/MainFooter.astro';

import { ClientRouter } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head class="h-full">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="description" content={description}>

    <ClientRouter />

    <meta property="og:title" content={title}>
    <meta property="og:type" content="website">
    <meta property="og:url" content={Astro.url}>
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/favicon-192x192.png">
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml">
    <link rel="manifest" href="site.webmanifest">
  </head>

  <body class="topnav-fixed h-full bg-white neutral-800 cursor-auto font-sans not-italic font-normal leading-normal m-0 p-0 relative">
    <div class="page-wrap">
      <MainTopNav />

      <slot />
    </div>

    <MainFooter />
  </body>
</html>

<style is:global>
/* START: Slick Theme Override */
/* https://github.com/kenwheeler/slick/blob/v1.8.1/slick/slick-theme.css#L74 */
.slick-prev:before,
.slick-next:before {
  color: black !important;
}
/* END: Slick Theme Override */
</style>

<style>
.page-wrap {
  min-height: 100%;
  margin-bottom: calc(-1 * var(--footer-height));
}

.page-wrap:after {
  content: "";
  display: block;
  height: var(--footer-height);
}

.topnav-fixed {
  padding-top: var(--topnav-height);
}
</style>
